:root {
    --background-color: #000000;
    --text-color: #dcdcdc;
    --card-background: rgb(0, 0, 0);
    --card-border: #2e2e2e;
    
    --light-background-color: #f5f5f5;
    --light-text-color: #333333;
    --light-card-background: #ffffff;
    --light-card-border: #cccccc;
}

body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(0, 0, 0);
    color: #dcdcdc;
    border: 1px solid #2e2e2e;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background 0.6s ease;
}

.card-image {
    width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-button {
    background-color: #000000;
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.5s, background-color 0.5s;
}

/* Heading */
.card h3 {
    margin-bottom: -10px;
    font-size: 1.7em;
}

.saturn-heading {
    color: #9e9178;
}

.neptune-heading {
    color: #6c80ad;
}

.venus-heading {
    color: #a79267;
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #0d0d0d, #353535);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0;
}

.navbar ul li a {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

body {
    padding-top: 60px;
}

.toggle-button {
    background-color: transparent;
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
}

/* Hover effects */
.saturn-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to top right, #9e917833, rgba(0, 0, 0, 0.9));
}

.neptune-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to top right, #6c80ad33, rgba(0, 0, 0, 0.9));
}

.venus-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to top right, #a7926733, rgba(0, 0, 0, 0.9));
}

.card-button:hover {
    transform: scale(1.1);
    background-color: #3f3f3f;
}

.toggle-button:hover {
    transform: scale(1.05);
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.navbar ul li a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6); 
}

/* Light Mode Styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .card {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode .saturn-card:hover {
    background: linear-gradient(to top right, #ffe7ba, rgba(240, 240, 240, 0.9));
}

body.light-mode .neptune-card:hover {
    background: linear-gradient(to top right, #a1bdff, rgba(240, 240, 240, 0.9));
}

body.light-mode .venus-card:hover {
    background: linear-gradient(to top right, #ffe2a9, rgba(240, 240, 240, 0.9));
}

body.light-mode .navbar {
    background: linear-gradient(90deg, #ffffff, #e0e0e0);
    box-shadow: none;
}

body.light-mode .navbar ul li a {
    color: #000000;
}

body.light-mode .card-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

body.light-mode .toggle-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

body.light-mode .navbar ul li a:hover {
    color: #000000;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2); 
}

body.light-mode .card-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

body.light-mode .toggle-button:hover {
    color: #000000;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1);
}